.youtubepicker {
  position: absolute;
  display: none;
  z-index: 999;
}
.youtubepicker * {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.youtubepicker .youtubepicker-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}
.youtubepicker .youtubepicker-wrap {
  position: relative;
  border: 1px solid #CCC;
  border-radius: 5px;
  width: 400px;
}
.youtubepicker .youtubepicker-results {
  height: 245px;
  background: #FFF;
}
.youtubepicker .youtubepicker-item {
  padding: 5px;
  border-bottom: 1px solid #F1F1F1;
  background: #FFF;
}
.youtubepicker .youtubepicker-item:hover {
  background: #fafafa;
}
.youtubepicker .youtubepicker-item:after,
.youtubepicker .youtubepicker-actions:after {
  content: "";
  display: table;
  clear: both;
}
.youtubepicker .youtubepicker-item .youtubepicker-thumbnail {
  position: relative;
  float: left;
  width: 65px;
  height: 49px;
  border: 1px solid #CCC;
  margin-right: 5px;
  overflow: hidden;
}
.youtubepicker .youtubepicker-thumbnail img {
  width: 100%;
}
.youtubepicker .youtubepicker-duration {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2px;
  font-size: 11px;
  color: #FFF;
  text-align: center;
  position: absolute;
  bottom: 2px;
  right: 2px;
}
.youtubepicker .youtubepicker-info {
  display: inline;
  float: left;
  color: #666;
  width: 81%;
}
.youtubepicker .youtubepicker-info * {
  font-size: 10px;
  text-transform: uppercase;
}
.youtubepicker .youtubepicker-rating {
  display: block;
  height: 1px;
  background: #F00;
  margin: 4px 0;
}
.youtubepicker .youtubepicker-rating .youtubepicker-likes {
  height: 1px;
  background: #338A2E;
}
.youtubepicker .youtubepicker-info .youtubepicker-view-count {
  display: inline;
  float: left;
}
.youtubepicker .youtubepicker-no-records {
  display: none;
  padding: 5px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  color: #666;
}
.youtubepicker .youtubepicker-view-count span {
  text-transform: uppercase;
}
.youtubepicker .youtubepicker-actions {
  display: inline;
  float: left;
  margin-top: 2px;
}
.youtubepicker .youtubepicker-actions a {
  text-transform: uppercase;
  font-size: 10px;
  background: #CCC;
  color: #666;
  padding: 3px 10px;
  display: inline-block;
  margin-right: 5px;
  border: 1px solid #F1F1F1;
  border-radius: 4px;
}
.youtubepicker .youtubepicker-actions a:hover {
  color: #F1F1F1;
  background-color: #CC181E;
}
.youtubepicker .nano > .nano-pane {
  width: 8px;
}
.youtubepicker-preview {
  display: none;
}
.youtubepicker-preview.show {
  position: absolute;
  display: block;
  width: 100%;
  height: 247px;
  top: 0;
  left: 0;
  background: #000;
}
.youtubepicker-preview .youtubepicker-actions {
  position: absolute;
  float: none;
  z-index: 99;
  padding: 0;
  right: 0;
  bottom: -20px;
  margin: 0;
  cursor: pointer;
}
.youtubepicker-preview .youtubepicker-actions a {
  padding: 5px 10px;
  margin: 0;
  margin-left: 1px;
}
.youtubepicker-player {
  position: relative;
  height: 100%;
}
